@import "tailwindcss";
@import "@/assets/css/default.css";

html,
body {
  height: 100%;
}

body {
  @apply font-family-medium;
}

.multiselect__tags {
  border: 0 !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
}

.hide-scroll {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
